body {
  background-color: lightblue;
}
#products {
  display: flex;
  justify-items: space-between;
  flex-wrap: wrap;
}
.productContainer {
  height: 250px;
  width: 150px;
  flex-direction: column;
  border: 2px solid blue;
  background-color: white;

  border-radius: 5px;
  margin: 5px;
}

.imageContainer {
  height: 150px !important;
  width: 150px !important;
}
.productImage {
  object-fit: fill;
  height: 150px;
  width: 150px;
}
.title {
  padding-left: 5px;
  height: 10px;
  font-size: 10px;
}
.description {
  padding: 5px;
  font-size: 12px;
  text-align: justify;
  text-overflow: ellipsis;
  height: 20px !important;
  overflow: hidden;
  margin-top: 0px;
}
.rating {
  width: 100%;
  text-align: center;
  margin: 0px 15px 0px 0px;
}

#header {
  background-color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  position: sticky;
  top: 0;
}

#footer {
  display: flex;
  flex-direction: "row";
  justify-content: space-around;
  align-items: center;
}

#cartCountIcon {
  position: relative;
  height: 30px;
  width: 30px;
}

#cartCount {
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.removeBtn {
  background-color: red;
  color: white;
}

.aTCBtn{
  background-color: green;
  color: white;
}
